body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    padding:20px;
}

h1{
    text-align:center;
}

form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

input,textarea{
    padding:10px;
}

button{
    padding:10px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

.project{
    background:white;
    margin:15px auto;
    padding:15px;
    max-width:500px;
    border-radius:8px;
}